api.pxh-dev.online {
	tls huong.px01@gmail.com
	reverse_proxy api:8000
}
www.api.pxh-dev.online {
	redir https://api.pxh-dev.online{uri}
}
pxh-dev.online {
	tls huong.px01@gmail.com
	reverse_proxy frontend:3000
}
www.pxh-dev.online {
	redir https://pxh-dev.online{uri}
}