FRONTEND_DOMAIN=<frontend-domain>

POSTGRES_URL=postgresql+asyncpg://<user>:<password>@<server>:5432/<db-name>
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_SERVER=<server>
POSTGRES_DB=<db-name>

FIRST_ADMIN_EMAIL=<email>
FIRST_ADMIN_PASSWORD=<password>

AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<aws-secret-access-key>
AWS_S3_REGION=<s3-region>
AWS_S3_BUCKET=<s3-bucket>

STRIPE_API_KEY=<stripe_api_key>
