POSTGRES_URL=postgresql+asyncpg://<user>:<password>@<server>:5432/<db-name>
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_SERVER=<server>
POSTGRES_DB=<db-name>

FIRST_ADMIN_EMAIL=<email>
FIRST_ADMIN_PASSWORD=<password>