FRONTEND_DOMAIN=<frontend-domain>

POSTGRES_URL=postgresql+asyncpg://<user>:<password>@<server>:5432/<db-name>
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_SERVER=<server>
POSTGRES_DB=<db-name>

FIRST_ADMIN_EMAIL=<email>
FIRST_ADMIN_PASSWORD=<password>

AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<aws-secret-access-key>
AWS_S3_REGION=<s3-region>
AWS_S3_BUCKET=<s3-bucket>
NUXT_PUBLIC_API_BASE=http://localhost:8000/api
NUXT_PUBLIC_S3_BASE_URL=https://ysv-dev.s3.ap-northeast-1.amazonaws.com

STRIPE_API_KEY=<stripe_api_key>
STRIPE_ENDPOINT_SECRET=<stripe-endpoint-secret>

MAIL_USERNAME=admin-ysv@gmail.com
MAIL_PASSWORD=<app-password>
MAIL_FROM=admin-ysv@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME=<admin-name>
