fastapi
python-multipart
uvicorn[standard]
pydantic
pydantic-settings
fastapi-mail
passlib
types-redis
sqlalchemy[asyncio]
fastapi-pagination
asyncpg
alembic[tz]
tenacity
aiobotocore
fastapi-users[sqlalchemy,redis]
stripe
